/* @media (max-width: 1440px) and (min-width: 1081px) {
    #size-cutter {
        width: 1360px;
    }
}
@media (max-width: 1080px) and (min-width: 721px){
    #size-cutter {
        width: 680px;
    }
    #products>div>div {
        padding: 1rem 0 0 0;
    }
    /* .row {
        justify-content:space-between;
    }
    .build {
        width: 45%;
    } */

/* @media (max-width: 720px) and (min-width: 480px) {
    #size-cutter {
        width: 680px;
    }
    main {
        margin-top: 7.2rem;
    }
    .row {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner_images {
        min-height: 500px;
    }
    #footer {
        flex-wrap: wrap;
    }
} */

@media (min-width: 1722px) {
    #size-cutter {
        width: 1720px;
        /* width: calc(100% - 2rem); */
    }
    .inline_together > div {
        width: 35%;
    }

}

@media (max-width: 1721px) and (min-width: 1440px) {
    #size-cutter {
        width: 1400px;
        /* width: calc(100% - 2rem); */
    }
    .inline_together > div {
        width: 35%;
    }
    .grid_row {
        grid-template-columns: repeat(4, 1fr);
    }


}

@media (max-width: 1439px) and (min-width: 981px) {
    #size-cutter {
        width: 1000px;
        width: calc(100% - 2rem);
    }

    .grid_row {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:980px) and (min-width: 720px) {
    #header {
        display: none;
    }
    #mobile_header {
        display: flex;
    }
    #size-cutter {
        width: 680px;
        width: calc(100% - 2rem);
    }
    #footer {
        flex-wrap: wrap;
    }
    .row {
        flex-wrap: wrap;
    }
    #builds_index>.row>div {
        flex: 1 0 35%;
    }
    #card {
        flex: 1 0 25%;
    }

    .filter-selector_row {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid_row {
        grid-template-columns: repeat(2, 1fr);
    }
    .inline_together {
        flex-direction: column;
        align-items: center;
    }
    .Wcart {
        border-left: none;
        border-top: dashed 2px;
    }
    #modular > div {
        width: 60%;
    }

}

@media (max-width: 719px) and (min-width: 520px) {
    #header {
        display: none;
    }
    #mobile_header {
        display: flex;
    }
    #size-cutter {
        width: 480px;
        width: calc(100% - 2rem);
    }
    #footer {
        flex-wrap: wrap;
    }
    .row {
        flex-wrap: wrap;
    }
    #card {
        flex: 1 0 30%;
    }
    .filter-selector_row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .grid_row {
        grid-template-columns: repeat(1, 1fr);
    }
    .inline_together {
        flex-direction: column;
        align-items: center;
    }
    .Wcart {
        border-left: none;
        border-top: dashed 2px;
    }
    #modular > div {
        width: 60%;
    }

    .blockOfChoose {
        flex-wrap: wrap;
    }
    .blockOfChoose .block-fixed {
        min-height: auto;
    }
    .infoblock .body .deliveryblock {
        flex-wrap: wrap;
    }
}

@media (max-width: 520px) and (min-width: 375px) {
    #size-cutter {
        width: 350px;
        width: calc(100% - 2rem);
    }
    #mobile_header {
        display: flex;
    }
    .header_block {
        display: none;
    }
    #footer {
        flex-wrap: wrap;
        padding: 1rem 0;
        margin: 0 -1rem;
    }
    #footer h3 {
        font-size: 1.3rem;
    }
    #footer>div {
        flex: 1 0 0;
        margin-right: 0;
        padding: 0 1rem;
        margin-bottom: 1.2rem;
    }
    .row {
        flex-wrap: wrap;
    }
    .hardware_footer {
        flex-direction: column;
    }
    .filter-selector_row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .grid_row {
        grid-template-columns: repeat(1, 1fr);
    }

    form#login .card {
        height: 25rem;
        width: auto;
    }
    form#login .action_login {
        font-size: 1rem;
    }
    .banner_images {
        min-height: 240px;
    }

    .contentaside {
        grid-template-columns: auto;
    }
    aside {
        position: absolute;
        width: 100%;
        z-index: 3333333333333333333333;
        top: 0;
        left: 0;
    }
    .inline_together {
        flex-direction: column;
        align-items: center;
    }
    .Wcart {
        border-left: none;
        border-top: dashed 2px;
    }
    #modular > div {
        width: 80%;
    }

}

/* @media (max-width: 1720px) {
    #header {
        display: flex;
    }
    #mobile_header {
        display: none;
    }
}
@media (max-width: 1440px) {
    #header {
        display: flex;
    }
    #mobile_header {
        display: none;
    }
    #size-cutter {
        width: calc(100% - 2rem);
    }
    .grid_row {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1060px) {
    aside {
        display: none;
    }
    #header {
        display: none;
    }
    #mobile_header {
        display: flex;
    }
}
@media (max-width: 720px) {

} */
